@import "../../styles/variables";

.top_site {
    padding: 80px 0;

    .txt_top_site {
        h1 {
            color: $branco;
            font-family: $fonte-android;
            line-height: 1.1;
            font-size: clamp(32px, 5vw, 60px); 
            
            span { color: $verde-master; }
        }

        p {
            color: $branco;
            font-family: 'Courier New', Courier, monospace;
            font-size: clamp(16px, 1.2vw, 19px);
            opacity: 0.9;
        }
    }

    .img_top_site img {
        animation: flutuar 3s ease-in-out infinite alternate;
    }

        @keyframes flutuar {
        0% { transform: translateY(0); }
        100% { transform: translateY(-30px); }
    }
}