@import "../../styles/variables";

.about {
    background-color: $preto;

    .txt_about {
        padding: 40px;

        p {
            color: $branco;
            font-size: clamp(16px, 1.5vw, 20px);
            line-height: 1.8;
            opacity: 0.9;
        }
    }

    .img-container img {
        border: 1px solid transparent;
        border-radius: 30px;
        transition: $transition-fast;

        &:hover { border-color: $verde-master; }
    }
}

@media screen and (max-width: $mobile) {
    .about {
        .txt_about { 
            padding: 20px 0;
            text-align: center; 
        }
    }
}