@import "../../styles/variables";

.specialties {
    padding: 100px 4%;
    
    // Adicionamos isso para garantir que o container alinhe os filhos lado a lado
    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; // Permite quebrar a linha no mobile
        gap: 60px;       // Espaço entre as caixas
    }

    .specialties_box {
        color: #fff;
        padding: 40px;
        border-radius: 20px;
        transition: .3s;
        border: 2px solid transparent;
        flex: 1 1 300px;  // Faz com que elas tentem ficar lado a lado com base em 300px
        max-width: 400px; // Não deixa a caixa ficar gigante em telas grandes
        text-align: center;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 30px #fff;
        }

        i { font-size: 70px; color: $verde-master; }
        h3 { font-size: 30px; padding: 20px 0; }
        p { text-align: justify; text-indent: 30px; }
    }
}