@import "../../styles/variables";

.specialties {
    background-color: #0d0d0d; // Um tom acima do preto puro para dar contraste
    padding: 170px 0 170px 0 !important;

    .specialty-card {
        background: rgba(255, 255, 255, 0.03); // Fundo levemente visível
        border: 1px solid rgba($verde-master, 0.1);
        border-radius: 20px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        padding: 1000px;
        
        .icon-box i {
            font-size: 50px;
            color: $verde-master;
            display: inline-block;
            transition: 0.3s;
        }

        h3 {
            color: $branco;
            font-family: $fonte-android;
            font-size: 24px;
            margin-bottom: 15px;
        }

        p {
            color: $cinza-escuro;
            font-size: 16px;
            line-height: 1.6;
        }

        &:hover {
            transform: translateY(-15px);
            background: rgba($verde-master, 0.05);
            border-color: $verde-master;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

            .icon-box i {
                transform: scale(1.1) rotate(5deg);
                text-shadow: 0 0 15px rgba($verde-master, 0.5);
            }
            
            p { color: $branco; }
        }
    }
}