@import "../../styles/variables";

// Aplica um efeito de aumento suave (zoom) no elemento ao passar o mouse
.transition-scale {
    transition: transform 0.3s ease;
    &:hover { transform: scale(1.1); }
}

// Define um fundo verde com sombra brilhante e leve aumento ao passar o mouse
.transition-hover {
    background-color: $verde-master; // Pintando manualmente
    color: #000;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 0 20px rgba($verde-master, 0.6) !important;
        transform: scale(1.05);
    }
}

// Altera a cor do texto de cinza para verde suavemente durante o hover
.text-secondary-hover {
    color: $cinza-escuro;
    transition: color 0.3s;
    &:hover { color: $verde-master; }
}

// Adiciona um fundo verde transparente e muda a cor do texto ao passar o mouse
.hover-bg-green {
    transition: 0.3s;
    &:hover {
        background-color: rgba($verde-master, 0.1);
        color: $verde-master !important;
    }
}

// Altera o cursor do mouse para o ícone de "mãozinha" (clicável)
.cursor-pointer { cursor: pointer; }

// Configura o painel lateral do menu mobile com animação de largura (slide)
.menu_mobile {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    overflow: hidden;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.8);

    &.abrir_menu {
        width: 60%;
    }
}