@import "../../styles/variables";

.footer {
    padding: 60px 0;
    background-color: $preto;

    .line_footer {
        padding: 20px 0;
        &.border_bottom {
            border-bottom: 2px solid $verde-master;
            padding-bottom: 40px;
        }
    }

    .logo img { height: 60px; }

    .underline {
        text-decoration: none; // Começa sem nada

        &:hover {
            text-decoration: underline !important; // Aparece no hover
        }
    }
}